on:
  push:
    branches:
      - main
  pull_request:
    branches:
      - main

jobs:
  build:
    runs-on: ubuntu-latest
    timeout-minutes: 15
    steps:
      - name: Checkout
        uses: actions/checkout@v6
      - name: Build
        run: dotnet build --configuration Release
        working-directory: dotnet
      - name: Test
        run: dotnet test --configuration Release --no-build
        working-directory: dotnet
